<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.track_management">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="TaskMaster"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Track_management"
        tools:targetApi="31">

        <!-- Déclaration de l'activité LoginActivity comme point de départ de l'application -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Déclaration de l'activité SignUpActivity -->
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <!-- Supprimez cet intent-filter si SignUpActivity n'est pas censée être démarrée par des actions VIEW -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".AddTaskActivity"
            android:label="Add Track"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".TasksActivity"
            android:exported="false" />

        <activity
            android:name=".TaskDetailsActivity"
            android:exported="false" />




    </application>
</manifest>